@font-face {
    font-family: 'MyriadPro-Bold';
    src: url(fonts/MyriadPro-Bold.eot); 
    src: url(fonts/MyriadPro-Bold.eot) format('eot'),
         url(fonts/MyriadPro-Bold.woff) format('woff'),
         url(fonts/MyriadPro-Bold.ttf) format('truetype'),
         url(fonts/MyriadPro-Bold.svg#MyriadPro-Bold) format('svg');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(fonts/MyriadPro-Regular.eot); 
    src: url(fonts/MyriadPro-Regular.eot) format('eot'),
         url(fonts/MyriadPro-Regular.woff) format('woff'),
         url(fonts/MyriadPro-Regular.ttf) format('truetype'),
         url(fonts/MyriadPro-Regular.svg#MyriadPro-Regular) format('svg');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url(fonts/MyriadPro-Semibold.eot); 
    src: url(fonts/MyriadPro-Semibold.eot) format('eot'),
         url(fonts/MyriadPro-Semibold.woff) format('woff'),
         url(fonts/MyriadPro-Semibold.ttf) format('truetype'),
         url(fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold) format('svg');
}


body,
ul,
li,
p,
h2,
h4,
h1 {
  padding: 0;
  margin: 0;
}
h1,
h2,
h4,
h3 {
  text-transform: uppercase;
}
.head {
  text-align: center;
}
.head h1 {
  line-height: 0.9;
  font-family: "MyriadPro-Bold";
  font-size: 4em;
}
.head h2 {
  word-spacing: 5px;
  font-weight: normal;
  font-family: 'MyriadPro-Regular';
  line-height: 0.8;
  font-size: 3.5em;
}
.head h4 {
  font-family: "MyriadPro-Bold";
  font-size: 24px;
  margin-top: 13px;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.rightcol {
  margin-left: 70px;
  width: 425px;
}
.leftcol {
  margin-left: 70px;
  width: 640px;
}
.shild {
  width: 237px;
  height: 237px;
  border-radius: 50%;
  border: 1px solid #3d6cb0;
  margin: auto;
  margin-top: 94px;
  margin-bottom: 35px;
  position: relative;
}
.shild::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: #3d6cb0;
}
.titles {
  margin-left: -10px;
}
.titles h3 {
  font-family: "MyriadPro-Bold";
  font-size: 42px;
  line-height: 1.1;
  color: #3d6cb0;
  overflow: hidden;
  margin-bottom: 0;
}
.titles h3::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 5px;
  width: 100%;
  background: #3d6cb0;
  margin-right: -100%;
  border: solid #fff;
  border-width: 0 10px;
}
.titles h3::before {
  content: "";
  width: 70px;
  height: 70px;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}
.profile {
  margin-top: 80px;
}
.profile h3 {
  margin-bottom: 10px;
}
.profile h3::before {
  width: 76px;
  height: 74px;
  background: url(images/icons.png) -10px -106px;
}
.profile p {
  font-size: 16px;
  width: 430px;
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  word-wrap: break-word;
}
.profile p b {
  font-family: "MyriadPro-Bold";
}
.education ul li,
.expirience ul li {
  padding-left: 6px;
  list-style: none;
}
.education ul li:first-of-type,
.expirience ul li:first-of-type {
  padding-top: 26px;
}
.education .blockTitle,
.expirience .blockTitle {
  font-family: "MyriadPro-Bold";
  text-transform: uppercase;
  font-size: 25px;
}
.education .blockTitle::before,
.expirience .blockTitle::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 23px;
}
.education .data,
.expirience .data {
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-size: 25px;
  margin-left: 10px;
}
.education h4,
.expirience h4 {
  text-transform: uppercase;
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 5px;
}
.education p,
.expirience p {
  font-size: 16px;
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  margin-left: 40px;
  margin-top: 5px;
  padding-bottom: 15px;
}
.expirience ul li:first-of-type {
  padding-top: 34px;
}
.education.titles {
  padding-top: 35px;
  padding-left: 0px;
}
.education.titles .blockTitle {
  color: #3d6cb0;
}
.education.titles h3::before {
  width: 76px;
  height: 74px;
  background: url(images/icons.png) -109px -10px;
}
.expirience h3::before {
  width: 79px;
  height: 76px;
  background: url(images/icons.png) -10px -10px;
}
.software .cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.software h3::before {
  width: 76px;
  height: 74px;
  background: url(images/icons.png) -106px -106px;
}
.software .softCol {
  padding: 2px 0px;
  text-transform: uppercase;
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-size: 26px;
}
.software .softCol .greyBar,
.software .softCol .blueBar {
  display: block;
  width: 288px;
  height: 23px;
  margin-top: 14px;
  margin-bottom: 17px;
  background-color: #e6e6e6;
}
.software .softCol .greyBar .blueBar,
.software .softCol .blueBar .blueBar {
  background-color: #3d6cb0;
  width: 90%;
}
.software .softCol .greyBar .drw,
.software .softCol .blueBar .drw {
  width: 70%;
}
.software .softCol .greyBar .ill,
.software .softCol .blueBar .ill {
  width: 55%;
}
.software .softCol .greyBar .ae,
.software .softCol .blueBar .ae {
  width: 80%;
}
.software .softCol .greyBar .ind,
.software .softCol .blueBar .ind {
  width: 60%;
}
.skills h3 {
  padding-bottom: 18px;
}
.skills h3::before {
  width: 74px;
  height: 74px;
  background: url(images/icons.png) -205px -104px;
}
.skills .skillsRow {
  text-align: center;
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-size: 26px;
  margin: 10px 0;
}
.skills .skillsRow .skillsDots {
  padding: 5px 0;
}
.skills .skillsRow .skillsDots li {
  display: inline-block;
}
.skills .skillsRow .dot {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}
.skills .skillsRow .blue {
  background: #3d6cb0;
}
.skills .skillsRow .grey {
  background: #e6e6e6;
}
.contact h3::before {
  width: 74px;
  height: 74px;
  background: url(images/icons.png) -205px -10px;
}
.contact .contactRow {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.contact .contactRow:first-of-type {
  margin-top: 35px;
}
.contact .contactRow:last-of-type {
  margin-top: 40px;
}
.contact .contactRow .nameCol {
  color: #3d6cb0;
  text-transform: uppercase;
  padding-right: 50px;
  font-family: "MyriadPro-Bold";
  font-size: 20px;
}
.contact .contactRow .valueCol {
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-size: 20px;
  text-align: left;
}
