doctype html
html
    head
        meta(charset='utf-8')
        title Resume
body
    mixin titles(sectionName)
        div.titles
            h3=sectionName

    div(class="head")
        div(class="shild")
        h2 name here
        h1 surname
        h4 graphice designer  
    +titles("Profile")
        
	
        




