bold-font="MyriadPro-Bold";
normal-font='MyriadPro-Regular';
semibold-font='MyriadPro-Semibold';
elements-color=#3d6cb0;
grey-color=#e6e6e6;
    
    body
    ul
    li
    p
    h2
    h4
    h1
        padding 0
        margin 0
       
    h1
    h2
    h4
    h3
        text-transform: uppercase
    
    .head
        text-align center
        h1
            line-height 0.9          
            font-family bold-font
            font-size 4em
        h2
            word-spacing: 5px
            font-weight normal
            font-family normal-font
            line-height 0.8
            font-size 3.5em
        h4
            font-family bold-font  
            font-size 24px 
            margin-top 13px 
    
    .flexbox    
        display flex
        flex-direction: row
        justify-content flex-start
        flex-wrap wrap
        
        
    .rightcol
        margin-left: 50px;
        margin-right: 50px
        flex-basis: 425px
        flex-grow: 1;
            
    .leftcol
        margin-left: 50px;
        margin-right: 60px
        flex-basis: 640px
        flex-grow: 2;

    .shild
        width 237px
        height 237px
        border-radius 50%
        border 1px solid elements-color
        margin auto
        margin-top 94px
        margin-bottom 35px
        position relative
        &::after
            content ""
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 90%
            height 90%
            border-radius 50%
            background-color elements-color
            
    
    .titles
        margin-left: -10px;
        h3
            font-family bold-font
            font-size 42px
            line-height: 1.1    
            color elements-color
            overflow hidden
            margin-bottom 0
            &::after
                content ""
                display inline-block
                vertical-align middle
                box-sizing border-box
                height 5px
                width 100% 
                background elements-color
                margin-right: -100%
                border solid #fff
                border-width 0 10px
            &::before
                content ""
                width: 70px;
                height: 70px;    
                vertical-align: middle;
                margin-right: 10px;
                display inline-block
                border-radius: 50%
                
    
    .profile
        margin-top 80px
        h3
            margin-bottom 10px
            &::before
                width: 76px; height: 74px;
                background: url('icons.png') -10px -106px;  

        p
            font-size: 16px;
            
            font-family: normal-font
            font-weight: normal
            word-wrap: break-word
            b
                font-family bold-font
    .education, .expirience
        ul   
            li
                padding-left: 6px
                list-style: none
                &:first-of-type 
                    padding-top: 26px
        .blockTitle
            font-family: bold-font
            text-transform: uppercase
            font-size: 25px                  
            &::before
                content: ""
                display: inline-block
                width: 19px
                height: 19px;
                border-radius: 50%
                background-color: black
                margin-right: 23px
        .data
            font-family: normal-font
            font-weight: normal
            font-size: 25px
            margin-left: 10px
        h4
            text-transform: uppercase
            font-family: normal-font
            font-weight normal
            font-size: 25px
            margin-left: 40px
            margin-top: 5px
        p
            font-size: 16px;   
            font-family: normal-font
            font-weight: normal
            margin-left: 40px
            margin-top: 5px
            padding-bottom 15px
    .expirience

        ul   
            li
                &:first-of-type 
                    padding-top: 34px        
    .education.titles   
        padding-top: 35px
        padding-left: 0px
        .blockTitle
            color: elements-color        
        h3
            &::before
                width: 76px; height: 74px;
                background: url('icons.png') -109px -10px;
    
    .expirience
        h3
            &::before
                width: 79px; height: 76px;
                background: url('icons.png') -10px -10px;
    .software
        
        .cols
            display: flex
            flex-direction: row
            justify-content space-between
            flex-wrap wrap
            padding-top: 20px
           
        h3
            
            &::before
                width: 76px; height: 74px;
                background: url('icons.png') -106px -106px;
        .softCol
            padding: 2px 0px;
            text-transform: uppercase;
            font-family: normal-font
            font-weight: normal;
            font-size: 26px
            .greyBar, .blueBar 
                display: block;
                width: 288px
                height: 23px;
                margin-top: 14px
                margin-bottom: 17px                
                background-color: grey-color
                .blueBar 
                    background-color: elements-color; 
                    width: 90%
                .drw  
                    width: 70%
                .ill
                    width 55%
                .ae
                    width 80%
                .ind
                    width: 60%
                
    .skills
        
        h3
            padding-bottom: 18px
            &::before
                width: 74px; height: 74px;
                background: url('icons.png') -205px -104px;
        .skillsRow

            text-align: center
            font-family: normal-font
            font-weight: normal
            font-size: 26px
            margin: 10px 0
            .skillsDots
                padding: 5px 0
                li  
                    display: inline-block
            .dot
                display: block;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-right: 5px;  
            .blue
                background: elements-color;
            .grey   
                background: grey-color;      
    .contact
        h3
            &::before
                width: 74px; 
                height: 74px;
                background: url('icons.png') -205px -10px; 
          
        .contactRow
            &:first-of-type 
                margin-top: 35px
            &:last-of-type
                margin-top 40px
            margin-bottom 30px
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            .nameCol   
                color: elements-color;
                text-transform: uppercase;
                padding-right: 50px
                font-family: bold-font
                font-size: 20px
            .valueCol
                font-family: normal-font   
                font-weight: normal
                font-size: 20px; 
                text-align left  


            